<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- Import style -->
  <link rel="stylesheet" href="//unpkg.com/element-plus@2.8.0/dist/index.css"/>
  <!-- Import Vue 3 -->
  <script src="//unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
  <!-- Import component library -->
  <script src="//unpkg.com/element-plus@2.8.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <title>短链接转换</title>
  <style>
    #app {

    }

    .title {
      font-size: 16px;
      line-height: 48px;
      color: #333;
    }
  </style>
</head>
<body>
<div id="app">
  <div class="title">短链接转换</div>
  <el-form :model="form" label-width="auto" style="max-width: 600px">
    <el-form-item label="原网址">
      <el-input v-model="form.url"/>
    </el-form-item>

    <el-form-item>
      <el-button type="primary" @click="onConvert">转换</el-button>
    </el-form-item>

    <el-form-item label="短链接">
      <el-input v-model="form.shortcut"/>
    </el-form-item>

    <el-form-item>
      <el-button type="primary" @click="onRevert">转换</el-button>
    </el-form-item>
  </el-form>
</div>
</body>
<script>
  const {createApp, ref, reactive} = Vue

  const app = createApp({
    setup() {
      const form = reactive({
        url: '',
        shortcut: '',
      })
      const onConvert = () => {
        axios.post('/convert',{
          url: form.url
        }).then(res => {
          form.shortcut = res?.data?.data
        })
      }
      const onRevert = () => {
        axios.post('/revert',{
          url: form.shortcut
        }).then(res => {
          form.url = res?.data?.data
        })
      }
      return {
        form,
        onConvert,
        onRevert,
      }
    }
  });
  app.use(ElementPlus);
  app.mount("#app");
</script>
</html>